.title{
  font-size: 40px;
  
  }
  .subtitle{
  font-size: 30px;
  
  }
  .btn{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #4caf50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .btn:hover{background-color: #3e8e41;}
  .btn:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  
  }
  .acc{
    width: 500px;
  }